@media screen and (min-width: 480px) {
    a{
        text-decoration: none;
        color: white;
    }
    #u0 {
        border-width: 0px;
        position: absolute;
        left: 0;
        top: 59px;
        width: 100%;
        display: flex;
        font-size: 16px;
        color: #ffffff  
    }
    #u0_div{
        border-width: 0px;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 640px;
        background: inherit;
        background-color: rgba(136, 0, 255, 0.149019607843137);
    }

    #box1{
        border-width: 0px;
        position: absolute;
        left: 0px;
        top: -1px;
        width: 100%;
        height: 70px;
        display: flex;
        font-size: 16px;
        color: #ffffff;
    }
    #box1_div{
        border-width: 0px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 70px;
        background: inherit;
        background-color: rgb(136, 0, 255, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(121, 121, 121, 1);
        border-radius: 0px;
        box-shadow: none;
        font-size: 16px;
        color: #ffffff;
    }

    #perfil{
        border-width: 0px;
        position: absolute;
        left: 45px;
        top: 15px;
        width: 23px;
        height: 26px;
        display: flex;    
    }
    #perfil1{
        border-width: 0px;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 30px;
        height: 40px;
    }

    #u63{
        border-width: 0;
        position: absolute;
        left: 0px;
        top: 63px;
        width: 100%;
        height: 33px
    }
    #u64{
        border-width: 0;
        position: absolute;
        left: 0px;
        top: 6px;
        width: 100%;
        height: 40px;
        background: inherit;
        background-color: rgba(88, 9, 255, 1);
        border: none;
        border-radius: 0px;
        box-shadow: none;
        opacity: 0.5;
    }
    #u65{
        border-width: 0px;
        position: absolute;
        left: 8px;
        top: 3px;
        width: 112px;
        height: 30px;
        display: flex;
        color: #ffffff;
    }
    #u65 .text{
        position: absolute;
        align-self: center;
        padding: 2px 2px 2px 2px;
        box-sizing: border-box;
        width: 100%;
        font-size: 20px;
    }
    #u65_text {
        border-width: 0px;
        word-wrap: break-word;
        text-transform: none;
    }
    #u66{
        border-width: 0px;
        position: absolute;
        left: 180px;
        top: 3px;
        width: 115px;
        height: 30px;
        display: flex;
        color: #ffffff
    }
    #u66 .text{
        position: absolute;
        align-self: center;
        padding: 2px 2px 2px 2px;
        box-sizing: border-box;
        width: 100%;
        font-size: 20px;
    }
    #u66_text{
        border-width: 0px;
        word-wrap: break-word;
        text-transform: none;
    }
    #u67 {
        border-width: 0px;
        position: absolute;
        left: 360px;
        top: 3px;
        width: 113px;
        height: 30px;
        display: flex;
        color: #ffffff;    
    }
    #u67 .text{
        position: absolute;
        align-self: center;
        padding: 2px 2px 2px 2px;
        box-sizing: border-box;
        width: 100%;
        font-size: 20px;
    }
    #u67_text{
        border-width: 0px;
        word-wrap: break-word;
        text-transform: none;
    }

    #u1{
        border-width: 0px;
        position: absolute;
        left: 90px;
        top: 146px;
        width: 92px;
        height: 26px;
        display: flex;
        font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 14px; 
    }
    #u1_div{
        border-width: 0px;
        position: absolute;
        left: -11px;
        top: 0px;
        width: 112px;
        height: 30px;
        background: inherit;
        background-color: rgba(0, 0, 0, 0.498039215686275);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        box-shadow: none;
        font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
    }
    #u1 .text{
        position: absolute;
        align-self: center;
        padding: 2px 2px 2px 2px;
        box-sizing: border-box;
        width: 100%;
        font-size: 20px;
    }
    #u1_text {
        border-width: 0px;
        word-wrap: break-word;
        text-transform: none;
    }
    #u2 {
        border-width: 0px;
        position: absolute;
        left: 335px;
        top: 146px;
        width: 100px;
        height: 26px;
        display: flex;
        font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
        border-width: 0px;
    }
    #u2_div {
        border-width: 0px;
        position: absolute;
        left: -21px;
        top: 0px;
        width: 100px;
        height: 30px;
        background: inherit;
        background-color: rgba(0, 0, 0, 0.498039215686275);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        box-shadow: none;
        font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
    }
    #u2 .text {
        position: absolute;
        align-self: center;
        padding: 2px 2px 2px 2px;
        box-sizing: border-box;
        width: 100%;
        font-size: 20px;
    }
    #u2_text {
        border-width: 0px;
        word-wrap: break-word;
        text-transform: none;
    }
    #u14 {
        border-width: 0px;
        position: absolute;
        left: 65px;
        top: 200px;
        width: 100px;
        height: 15px;
        display: flex;
        font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
        font-weight: 700;
        font-style: normal;
    }
    #u14_input {
        border-width: 0px;
        position: absolute;
        left: -13px;
        top: 20px;
        width: 12px;
        height: 12px;
    }
    #u14 label {
        left: 0px;
        width: 100%;
    }
    #u14 .text {
        position: absolute;
        align-self: center;
        padding: 2px 2px 2px 2px;
        box-sizing: border-box;
        width: 100%;
        font-size: 17px;
    }
    #u14_text {
        border-width: 0px;
        position: absolute;
        left: -9px;
        top: 0px;
        width: 84px;
        word-wrap: break-word;
        text-transform: none;
    }
    #u15 {
        border-width: 0px;
        position: absolute;
        left: 190px;
        top: 220px;
        width: 50px;
        height: 15px;
        display: flex;
        font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
        font-weight: 700;
        font-style: normal;
    }
    #u15 label{
        left: 0px;
        width: 100%;
    }
    #u15_input {
        border-width: 0px;
        position: absolute;
        left: 26px;
        top: 1px;
        width: 12px;
        height: 12px;
    }
    #u15 .text {
        position: absolute;
        align-self: flex-start;
        padding: 2px 2px 2px 2px;
        box-sizing: border-box;
        font-size: 17px;
    }
    
    #u16 {
        border-width: 0px;
        position: absolute;
        left: 340px;
        top: 220px;
        width: 50px;
        height: 15px;
        display: flex;
        font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
        font-weight: 700;
        font-style: normal;
    }
    #u16 label {
        left: 0px;
        width: 100%;
    }
    #u16 .text {
        position: absolute;
        align-self: flex-start;
        padding: 2px 2px 2px 2px;
        box-sizing: border-box;
        font-size: 17px;
    }
    #u16_text {
        border-width: 0px;
        position: absolute;
        left: 29px;
        top: -18px;
        width: 70px;
        word-wrap: break-word;
        text-transform: none;
    }
    #u3 {
        border-width: 0px;
        position: absolute;
        left: 15px;
        top: 280px;
        width: 43px;
        height: 16px;
        display: flex;
        color: #000000;
    }
    .ax_default {
        font-family: 'Arial Normal', 'Arial';
        font-weight: 320;
        font-style: normal;
        font-size: 13px;
        letter-spacing: normal;
        color: #333333;
        vertical-align: none;
        text-align: center;
        line-height: normal;
        text-transform: none;
    }
    #u3 .text {
        position: absolute;
        align-self: flex-start;
        padding: 0px 0px 0px 0px;
        box-sizing: border-box;
        width: 100%;
        top: 0px;
        font-size: 20px;
    }
    #u3_text {
        border-width: 0px;
        white-space: nowrap;
        text-transform: none;
    }
    #nome {
        width: 415px;
        padding: 2px 2px 2px 2px;
        color: white;
        opacity: 0.8;
    }
    #u3 .text1 {
        position: absolute;
        align-self: flex-start;
        padding: 0px 0px 0px 0px;
        box-sizing: border-box;
        width: 100%;
        top: 65px;
        font-size: 20px;
    }
    #u3_text1 {
        border-width: 0px;
        white-space: nowrap;
        text-transform: none;
    }
    #email {
        width: 275px;
        padding: 2px 2px 2px 2px;
        color: white;
        opacity: 0.8;
    }
    u3 .text2 {
        position: absolute;
        align-self: flex-start;
        padding: 0px 0px 0px 0px;
        box-sizing: border-box;
        width: 100%;
        top: 121px;
    }
    #senha {
        width: 415px;
        padding: 2px 2px 2px 2px;
        color: white;
        opacity: 0.8;
    }
    #u3 .text3 {
        position: absolute;
        align-self: flex-start;
        padding: 0px 0px 0px 0px;
        box-sizing: border-box;
        width: 100%;
        top: 170px;
    }
    #u3_text3 {
        border-width: 0px;
        white-space: nowrap;
        text-transform: none;
    }
    #data {
        width: 415px;
        padding: 2px 2px 2px 2px;
        color: white;
        opacity: 0.8;
    }
    #u11 {
        border-width: 0px;
        position: absolute;
        left: 100px;
        top: 220px;
        width: 92px;
        height: 26px;
        display: flex;
        font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
    }
    .primary_button {
        color: #ffffff;
    }
    #u11_div {
        border-width: 0px;
        position: absolute;
        left: 0px;
        top: 42px;
        width: 92px;
        height: 26px;
        background: inherit;
        background-color: rgba(0, 0, 0, 0.498039215686275);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
    }
    #u11 .text {
        position: absolute;
        align-self: center;
        padding: 2px 2px 2px 2px;
        box-sizing: border-box;
        width: 100%;
        top: 30px;
    }
}   


