@media screen and (min-width: 480px) {
    #u67 {
        border-width: 0px;
        position: absolute;
        left: 360px;
        top: 0px;
        width: 117px;
        height: 30px;
        display: flex;
        color: #ffffff;
    }
    #u66 {
        border-width: 0px;
        position: absolute;
        left: 190px;
        top: 0px;
        width: 115px;
        height: 30px;
        display: flex;
        color: #ffffff;
    }
    .imgq {
        margin-top: -2px;
        height: 100%;
        width: 100%;
    }
    #bars {
        position: absolute;
        left: 412px;
        font-size: 33px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        display: flex;
        float: right;
        margin-top: -5px;
        z-index: 1;
        width: 40px;
    }

    #MINIlogo {
        position: absolute;
        left: 222px;
        top: 15px;
        width: 23px;
        height: 36px;
        display: flex;
    }
    #perfil {
        position: absolute;
        left: 40px;
        top: 14px;
        width: 25px;
        height: 28px;
        display: flex;
    }
}