@media screen and (min-width: 481px){
    #apos_480 {
        display: inline-block;
    }
    #apos_481, img{
        display: inline-block;
    }
    #container{
        display: none;
    }
    #esconde481{
        display: none;
    }
    
}


/******imagem*******/
.apos_481{
    margin-top: 80px;
    position: absolute;
    left: 20px;
    top: 35px;
    left: 75px;
}
#apos_481, img{
    width: 65%;
}
/***** fim da imagem*******/

/******texto*******/

#apos_480, .pp{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
/*****fim do texto******/
