html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', 'sans-serif','Montserrat', 'Roboto';
}

/*****AREA DE BLOQUEIO******/

#apos_480 {
    display: none;
}
#apos_481{
    display: none;
}
/******FIM DA AREA DE BLOQUEIO*******/





/*****faixa roxa*****/
#u0{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 65px;
    width: 100%;
    height: 256.5%;
    display: flex;
    font-size: 16px;
    color: #ffffff;
}
#u0_div{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 102.4%;
    background: inherit;
    background-color: rgba(136, 0, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(121, 121, 121, 1);
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    color: #ffffff;
}
#u0 .text{
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}
#u0_text{
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
    visibility: hidden;
}


/******maos dadas imagem*******/
#u1{
    position: absolute;
    top: 64px;
    width: 100%;
    height: 400px;
}
#u1_img{
    top: 0px;
    width: 100%;
    height: 445px;
}
/*******fim das imagens maos dadas*******/

/**********texto maos dadas**********/
#u58{
    border-width: 0px;
    position: absolute;
    left: 0%;
    top: 43%;
    width: 100%;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}
#u58_div{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 189px;
    background: inherit;
    background-color: rgb(255, 255, 255, 0);
    border:none;
    border-radius: 0px;
    box-shadow: none;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    line-height: 23px;
}
#u58 .text{
    position: absolute;
    align-self: flex-start;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}
#u58_text{
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}
/***********************/
#u59{
    position: absolute;
    text-align: center;
    top: 13%;
    width: 100%;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
/***********botao quero ajudar************/
a{
    text-decoration: none;
    color: white;
}

#u3{
    border-width: 0px;
    position: absolute;
    left: 35%;
    top: 36%;
    width: 124px;
    height: 40px;
    display: flex;
    font-size: 16px;
}
.primary_button{
    color: #ffffff;
}
#u3_div{
    border-width: 0px;
    position: absolute;
    left: -14%;
    top: 0px;
    width: 140px;
    height: 40px;
    background: inherit;
    background-color: rgb(0, 0, 0, 0.298039215686275);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
}
#u3 .text{
    color: #ffffff;
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}
#u3_text{
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

/********MOMENTO DOE GRANDÃO*********/

#uM_img{
    position: absolute;
    width: 100%;
    background-color: white;
    left: 0px;
    top: 507px;
}
.uM_IMG{
    width: 100%;
}
/*****FIM MOMENTO DOE GRANDAO******/


/*box menu*/    
#box1{
    border-width:0px;
    position: absolute;
    left: 0px;
    top: -1px;
    width: 100%; /**tamanho da caixa**/
    height: 64px;
    display: flex;
    font-size: 16px;
    color: #ffffff;
}
#box1_div{
    border-width: 0px;
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    height: 64px;
    background: inherit;
    background-color: rgb(136, 0, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    color: #ffffff;
}
/*fim box menu*/


/***************perfil***********/
#perfil{
    position: absolute;
    left: 13%;
    top: 14px;
    width: 32px;
    height: 28px;
    display: flex;
}
#perfil1{
    position: absolute;
    left: 0px;
    top: 5px;
    width: 80%;
    height: 28px;
}
/*******************fim do perfil**************************/

/*****************MINI LOGO *******************/
#MINIlogo{
    position: absolute;
    left: 44%;
    top: 15px;
    width: 23%;
    height: 36px;
    display: flex;
}
#MINILogo1{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 23%;
    height: 36px;
}
/***************FIM MINI LOGO*******************/


/**********menu hamburguer***********/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right:0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 5%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    padding-top: 2px;
    text-decoration: none;
    font-size: 28px;
    color:white;
    display: block;
    transition: 0.3s;
  }
  .overlay hr{
      margin-top: 10px;
      margin-left: 20px;
      width: 280px;
      height: 2px;   
      background-color: white
  }
  .overlay hr:nth-child(1){
      margin-top: 60px;
  }
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: -13;
    left: 264px;
    font-size: 60px;
  }
  
  /********header*********/
  #bars{
    position: absolute;
    justify-content: space-around;
    left: 81%;
    font-size:33px;
    font-weight: bold;
    color: white;
    cursor:pointer;
    float: right;
    margin-top: -5px;
    width:17%;
     
  }
  .menucima{
    padding-top: 15px;
    justify-content: space-around;
}
/**********fim menu hamburguer**************/
/*************fim box menu****************/





/******************box home*************************/
#u63{
    border-width: 0;
    position: absolute;
    left: 0px;
    top: 63px;
    width: 100%;
    height: 38px;
    background-color: rgba(88, 9, 255, 1);
    opacity: 0.5;
}

/*#u64{
    border-width: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 38px;  
}*/
/*********FIM BOX HOME***********/


/**************home*****************/
#u65{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 17%;
    height: 30px;
    color: #ffffff;

    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 5px;

}


#u65 .text{
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}
#u65_text{
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}
/*******FIM HOME********/


/**************doacao****************/
#u66{
    border-width: 0px;
    position: absolute;
    left: 40%;
    top: 10%;
    width: 30%;
    height: 30px;
    display: flex;
    color: #ffffff;

    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 5px;
}
#u66_div{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 37px;
    background: inherit;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

#u66 .text{
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}
#u66_text{
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}
/**********FIM DOACAO**********/


/**************ongs****************/
#u67{
    border-width: 0px;
    position: absolute;
    left: 77%; /***************aqui é a solução********************/
    top: 10%;
    width: 20%;
    height: 30px;
    color: #ffffff;

    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 5px;
}
#u67 .text{
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
}
#u67_text{
border-width: 0px;
word-wrap: break-word;
text-transform: none;
width: 100%;
}
/**********FIM ONGS************/
/***********fim box home******/



/******texto oq é uma doação****/
#u13{
    border-width: 0px;
    position: absolute;
    left: 3%;
    top: 129%; /*texto*/
    width: 94%;
    height: 102px;
    display: flex;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
}

#u13 .text{
    position: absolute;
    align-self: flex-start;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}
#u13_text{
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}


#u14{
    border-width: 0px;
    position: absolute;
    left: 24%;
    top: 115%;
    width: 52%;
    height: 18px;
    display: flex;
    font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}

#u12{
    border-width: 0px;
    position: absolute;
    left: 43%;
    top: 122%;
    width: 43px;
    height: 52px;
    display: flex;
}
#u12_img{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 5px;
    width: 42px;
    height: 52px;
}


/********Por que doar***********/
#u15{
    border-width: 0px;
    position: absolute;
    left: 35%;
    top: 147%;
    width: 125px;
    height: 18px;
    display: flex;
    font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}
#u15_div{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 125px;
    height: 18px;
    background: inherit;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}
#u15_text{
   border-width: 0px;
   word-wrap: break-word;
   text-transform: none;
}
#u15 .text{
    position: absolute;
    align-self: flex-start;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}
/****************/
#u16{
    border-width: 0px;
    position: absolute;
    left: 4%;
    top: 165%;
    width: 300px;
    height: 150px;
    display: flex;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
}
#u16 .text{
    position: absolute;
    align-self: flex-start;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}
#u16_text{
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

#u17{
    border-width: 0px;
    position: absolute;
    left: 43%;
    top: 155%;
    width: 70px;
    height: 61px;
    display: flex;
}
#u17_img{
    border-width: 0px;
    position: absolute;
    left: -10px;
    top: 0px;
    width: 70px;
    height: 61px;
}

/************velha na cadeira****************/
#u4{
    position: absolute;
    top: 185%;
}
#u4_img{
    left: 0px;
    width: 100%;
    height: 316px;
}


/***********texto o que são ongs**************/
#u39{
    /****texto****/
    border-width: 0px;
    position: absolute;
    left: 4 %;
    top: 1700px;
    width: 300px;
    height: 150px;
    display: flex;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
}
#u39_div{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 150px;
    background: inherit;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
}
#u39 .text{
    position: absolute;
    align-self: flex-start;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}
#u39_text{
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}
/************************/
#u40{
    border-width: 0px;
    position: absolute;
    left: 31%;
    top: 222%;
    width: 40%;
    height: 18px;
    display: flex;
    font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}
#u40 .text{
    position: absolute;
    align-self: flex-start;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}
#u40_text{
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}
/*********************/
#u18{
    /**imagem**/
    border-width: 0px;
    position: absolute;
    left: 120px;
    top: 1620px;
    width: 88px;
    height: 66px;
    display: flex;
}

/*********DEPOIMENTOS***********/
#u6{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 1905px;
    width: 100%;
    height: 370px;
    display: flex;
    color: #8800ff;
}
#u6_div{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 370px;
    background: inherit;
    background-color: rgb(153, 204, 255, 0.2);
}
/********************/
#u7{
    border-width: 0px;
    position: absolute;
    left: 10px;
    top: 1962px;
    width: 300px;
    height: 286px;
    display: flex;
}
#u7_div{
    /****caixa branca****/
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 286px;
    background: inherit;
    background-color: rgb(255, 255, 255, 1);
    border: none;
    box-shadow: none;
}
/****************/
#u8{
    border-width: 0px;
    position: absolute;
    left: 105px;
    top: 1900px;
    width: 127px;
    height: 23px;
    display: flex;
    font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

/********Grandes Herois*********/
#u25{
    border-width: 0px;
    position: absolute;
    left: 103px;
    top: 2285px;
    width: 135px;
    height: 21px;
    display: flex;
    font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #5e5e5e;
}
#u25_div{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 135px;
    height: 21px;
   background: inherit;
   background-color: rgb(255, 255, 255, 0);
   border: none;
   font-family: 'Arial Negrito', 'Arial Normal', 'Arial';
   font-weight: 700;
   font-style: normal;
   font-size: 18px;
   color: #5e5e5e;
}

/************o que vc pode doar************/
#u28{
    /*border-width: 0px;*/
    position: absolute;
    top: 2555px;
    width: 100%;
    height: 20px;
}
#u28_img{
    width: 100%;
}



