* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /*max-width: 320px;
    max-height: 480px;*/
}
#container {
  max-width: 320px;
  max-height: 480px;
}
/************ MENU  ***********/

.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 5%;
  /*width: 100%;*/
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  padding-top: 15px;
  text-decoration: none;
  font-size: 28px;
  color: white;
  display: block;
  transition: 0.3s;
}
.overlay hr {
  margin-top: 10px;
  margin-left: 15px;
  width: 280px;
  height: 2px;
  background-color: white;
}
.overlay hr:nth-child(1) {
  margin-top: 60px;
}
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 60px;
}
/************ Header  ***********/
header {
  background-color: #8800ff;
  width: 100vw;
  height: auto;
}
#bars {
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  /*display: flex;
    float: right;
    margin: 15px;
    margin-top: -5px*/
}
.menucima {
  width: 100vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding: 5px;
}

/************ SUB MENU ***********/

.submenu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}
.submenu ul li {
  list-style: none;
  padding-right: 28.6px;
}
.submenu ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-right: 15px;
}
.opac_submenu {
  background-color: #8800ff;
  width: 100vw;
  height: auto;
  opacity: 0.8;
  padding: 10px;
}
/*********** IMAGEM DEPOIMENTO ***********/
.depoimento img {
  width: 100vw;
  position: absolute;
  top: -100px;
}

/************ TEXTO DEPOIMENTO ***********/
.dep {
  position: absolute;
  text-align: left;
  top: 100px;
  z-index: 1;
}
.dep h2 {
  color: white;
  margin-left: 25px;
  font-size: 28px;
  padding-top: 25px;
}
.dep span {
  color: white;
  margin-left: 25px;
  font-size: 18px;
}
/************ BOTAO DAR DEPOIMENTO **********/
/*.btn-dardep{
    width: 120px;
    height: 39;
    z-index: 1;
}*/

/************ DEPOIMENTOS **********/

.depo-postite {
  display: flex;
  flex-direction: column;
}
.postite {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}
.postite {
  position: relative;
  top: 25px;
  margin: 5px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.postite .nome {
  position: absolute;
  text-align: center;
  top: 200px;
  left: 125px;
  z-index: 2;
}
.postite p {
  position: absolute;
  text-align: center;
  top: 280px;
  left: 50px;
  z-index: 2;
}
.postite .ft-pessoa {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  position: absolute;
  top: 80px;
  left: 112px;
}
